name: Run lints

on:
  workflow_dispatch:
  pull_request:
  push:

permissions:
  contents: read

env:
  RUSTFLAGS: -Dwarnings

jobs:
  lints:
    name: "Lints for target ${{ matrix.target }} with ${{ matrix.toolchain }} toolchain"
    strategy:
      matrix:
        target:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        toolchain:
          - stable
          - nightly

    runs-on: ${{ matrix.target }}
    timeout-minutes: 20
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy, rustfmt

      - name: Check cargo fmt
        run: cargo fmt --check

      - name: Check cargo clippy
        run: cargo clippy --workspace --all-features --all-targets